<html> 
<body>
<p>
t('notifiers.email_friend.your_friend') <%= @sender_name %> t('notifiers.email_friend.suggests'):  
</p>

<p>	
<strong><%= @event.name %> </strong> <%= event_url(@event, :host => "localhost:3000") %>
</p>

<p>
t('general.greetings'), 
</p>

<p>
t('general.your_team')
</p>

</body>
</html>