<html> 
<body>
<p>
Ihr Freund <%= @sender_name %> moechte Sie auf dieses Wienevent aufmerksam machen:  
</p>

<p>	
<strong><%= @event.name %> </strong> <%= event_url(@event, :host => "localhost:3000") %>
</p>

<p>
Viele Gruesse, 
</p>

<p>
Ihr Weinevents.de Team
</p>

</body>
</html>